.container {
  position: relative;
  height: 50px;
  display: flex;
  padding: 0 24px;
  flex-shrink: 0;
}

.pathContainer {
  flex-grow: 1;
  -ms-overflow-style: none;
  overflow-x: scroll;
  overflow-x: -moz-scrollbars-none;
  display: flex;
  align-items: center;
}

.pathContainer::-webkit-scrollbar {
  width: 0 !important
}

.splitLine {
  flex-shrink: 0;
  padding: 0 5px;
  font-style: italic;
  font-size: 12px;
  color: rgb(134, 140, 144);
}