.container {
  position: relative;
  height: 50px;
  display: flex;
  padding: 0 24px;
  flex-shrink: 0;
}

.pathContainer {
  flex-grow: 1;
  overflow-x: scroll;
  display: flex;
  align-items: center;
}

